<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container-fluid" id='container'>
    <div class='row'>
        <div class='col-3 m-1'>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Model Name</button>
                    <div class="dropdown-menu" id='model-name-list'>
                        <a class="dropdown-item">bert_mrpc</a>
                        <a class="dropdown-item">flair_sentiment_linear</a>
                        <a class="dropdown-item">flair_ner_linear</a>
                        <a class="dropdown-item">flair_ner_embedding2nn</a>
                        <a class="dropdown-item">flair_chunk_linear</a>
                        <a class="dropdown-item">flair_chunk_embedding2nn</a>
                        <a class="dropdown-item">flair_pos_linear</a>
                        <a class="dropdown-item">flair_pos_embedding2nn</a>
                        <a class="dropdown-item">glove_6b_50d</a>
                        <a class="dropdown-item">glove_6b_100d</a>
                        <a class="dropdown-item">glove_6b_200d</a>
                        <a class="dropdown-item">glove_6b_300d</a>
                        <a class="dropdown-item">word2vec</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button" id='model-name-input'>
            </div>
        </div>

        <div class='col-2 m-1'>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Query Method</button>
                    <div class="dropdown-menu" id='query-method-list'>
                        <a class="dropdown-item">random_sample</a>
                        <a class="dropdown-item">text_match</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button" id='query-method-input'>
            </div>
        </div>

        <div class='col-2 m-1'>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cluster Method</button>
                    <div class="dropdown-menu" id='cluster-method-list'>
                        <a class="dropdown-item">hier</a>
                        <a class="dropdown-item">kmeans</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button" id='cluster-method-input'>
            </div>
        </div>
    
        <div class='col-2 m-1' id='query-area'>
            <div class="input-group mb-1">
                <input type="text" class="form-control" id='query-input' placeholder="Query term" aria-label="Query term" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="query-button">Query</button>
                </div>
            </div>
        </div>
    </div>

    <div class='row border border-secondary rounded' id='canvas'></div>
</div>
</body>
</html>