<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="container-fluid">
    <div class='row'>
        <div class='col-4 border border-secondary rounded'>
            <div class='row m-1' id='query-area'>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id='query-input' placeholder="Query term" aria-label="Query term" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="query-button">Query</button>
                    </div>
                </div>
            </div>

            <div class='row m-1' id='subset-area'></div>
        </div>

        <div class='col-7 border border-secondary rounded mx-2' id='dimension-area'>
            <div class='row' id='selected-subset-info'></div>
        </div>

        <!-- <div class='col-4 border border-secondary rounded'>
            <div class='row' id='domain-area'></div>
            
        </div> -->
    </div>
    </div>
</body>
</html>